<html><head><title>1:1 pantorouter XL templates</title>
<style type=text/css>
  body { font-family: sans-serif; font-size: 100%; }
  img{ border-width:0px; margin-right: 10px}
</style></head>
<h2>1:1 pantorouter XL templates</h2>
The best way to print the 1:1 templates is to print the PDF file onto individual
8.5x11 or A4 sheets and then paste them together, using the diagonal grids to align
the pages.
<p>
Make sure that "fit to page" is turned off and the print scale is set to 100%.
First print just one page of the PDF file and check that the horizontal 
and vertical distance between grid intersections is 10 cm.
If you use a laser printer and the printout is off by 2% or less (2 mm error per 10 cm),
it's likely that your printer isn't scale accurate.  Ink jet printers, even cheap ones, 
tend to be much more accurate.  You can also use BigPrint to calibrate out printer 
scale error (see below)
<p>
If the scale is off by more than 2%, it's probably a configuration or driver issue.  
Be sure that all scaling is turned off.  if in doubt, use Adobe acrobat reader or 
Foxit reader to print the PDF files.  The default PDF program on Macs, and Google chrome
are not as good at preserving scale on printing.
<p>
<b>You can also print using the BigPrint program</b><br>
You can also use the free <a href="http://woodgears.ca/bigprint">BigPrint</a>
program to re-paginate as you wish to make best use of larger paper sizes 
(such as A3 or 11x17) on wide carriage printers or office laser printers.<br>
You can also calibrate out any scale error your (laser) printer may add.
Just load those files into BigPrint to print.<br>Please note that the free eval
version will suffice for this (no need to buy BigPrint).  Just download and
run the free eval version and drag the images onto the program.
<p>
If you are familiar with graphics programs, you can also print these images
using a graphics program of your choice.  Just click on any image, load
it into a graphics program of your choice, and make sure to print the
single page images at 127 DPI, and the multi-page images at 82 DPI.
<p><br>

<h3>Single page printable templates:  For printing: <a href="single_pages.pdf">single_pages.pdf</a></h3>
<table><tr>
<td><a href="tmpl1.png">  <img src="thumbnail/tmpl1.png"></a><br>
Plunge mechanism
<td><a href="tmpl2.png">  <img src="thumbnail/tmpl2.png"></a><br>
Spring cams and follower clamp
<td><a href="tmpl3.png">  <img src="thumbnail/tmpl3.png"></a><br>
Stock holding clamp
<tr height=15>
<tr>
<td><a href="tmpl4.png">  <img src="thumbnail/tmpl4.png"></a><br>
Table joint templates
<td><a href="tmpl5.png">  <img src="thumbnail/tmpl5.png"></a><br>
Template holder joints
<td><a href="tmpl6.png">  <img src="thumbnail/tmpl6.png"></a><br>
Template holder joints
</table><p><br>

<h3>Multi-page printable templates:</h3>
The PDFs for these pages come with an alignment grid for lining up
the printed pages.  If you aure using the BigPrint method (see above)
to print these, you can customize or omit the alignment grid.
<p>
If you print all the large 1:1 templates, it's 102 pages.  
Having the templates can make it easier to track and check parts,
but I do not recommend printing out all the templates.
All the necessary dimensions are in the plans, and for the tricky
shapes, the six pages of 1:1 templates above should be sufficient.
<p>
The alignment grid is 10 cm between intersections, measured horizontally
and vertically.  It's best to print just one test page and check
the scale before printing more.
<p><br>
<table cellspacing=0 cellpadding=0>
<td>
<a href="left_1to1.pdf"><b>left_1to1.pdf</b></a><br>
This PDF file is a 1:1 side view of the 
completed machine.<br>The PDF contains 9 pages.<br>
<a href="left_1to1.png"><img src="thumbnail/left_1to1.png" width=424 height=323></a>
<td width=40>
<td>
<a href="top_1to1.pdf"><b>top_1to1.pdf</b></a><br>
This PDF file is a 1:1 top view of the machine,
without the pantograph.<br>The PDF contains 9 pages.<br>
<a href="top_1to1.png"><img src="thumbnail/top_1to1.png" width=424 height=323></a>
</table>

<p>

<table cellspacing=0 cellpadding=0>
<td>
<a href="big1.pdf"><b>big1.pdf</b></a><br>
This PDF file contains all the hardwood parts, 9 pages.<br>
<a href="big1.png"><img src="thumbnail/big1.png" width=424 height=323 align=left>
<td width=40>
<td>
<a href="big2.pdf"><b>big2.pdf</b></a><br>
This PDF file contains all softwood parts.  9 pages.<br>
<a href="big2.png"><img src="thumbnail/big2.png" width=424 height=323 align=left>
</table><p><br>

<a href="big3.png"><img src="thumbnail/big3.png" width=566 height=323 align=left>
<a href="big3.pdf"><b>big3.pdf</b></a><p>
This PDF file contains all the smaller parts made of 18 mm plywood.
The PDF contains 12 pages.
</p><br clear=left><p>

<a href="big4.png"><img src="thumbnail/big4.png" width=848 height=323 align=left>
<a href="big4.pdf"><b>big4.pdf</b></a><p>
This PDF file contains all the large parts cut from 18 mm plywood.
<br>18 pages.
</p><br clear=left><p>

